html, body {


	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;

	
	
	

body {
	background: #f21a1a url('bg.png') fixed;
	color: #4c4c4c;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

a {
	color: #0d3380;
}

.inline {
	display: inline;
}

.button-link {
	display: inline-block;
	padding: 10px 20px;
	background: #12b362;
	border-radius: 50px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 0.825em;
	text-shadow: -1px -1px 0px rgba(0,0,0,0.1);
	box-shadow: 0px -2px 1px rgba(0,0,0,0.2) inset;
	color: #ffffff;
}

.button-link.clicked {
	background: #11a65b;
	box-shadow: 0px 2px 1px rgba(0,0,0,0.2) inset;
}

section#text table.noborder,
section#text table.noborder > tr,
section#text table.noborder > tr > th,
section#text table.noborder > tr > td,
section#text table.noborder > tbody,
section#text table.noborder > tbody > tr,
section#text table.noborder > tbody > tr > th,
section#text table.noborder > tbody > tr > td {
	border: 0px !important;
}

section#text table td {
	vertical-align: top;
}

div#site {
	min-width: 980px;
}

.holder {
}

.cover {
	display: block;
	width: 100%;
	height: 100%;
}

header {
	width: 100%;
	background: #12b362;
	color: #ffffff;
	height: 144px;
	position: relative;
}

header>div.holder>div {
	position: absolute;
}

header a {
	color: #ffffff;
}

header div#tyutchev {
	text-indent: -10000px;
	width: 134px;
	height: 136px;
	background: url('tyutchev.png');
	position: absolute;
	left: 19px;
	bottom: 0px;
	z-index: 10;
}

header div#logo {
	text-indent: -10000px;
	width: 322px;
	height: 69px;
	background: url('logo.png');
	position: absolute;
	left: 137px;
	bottom: 45px;
}

header div#logo a {
	display: block;
	width: 100%;
	height: 100%;
}

header div#find-link {
	left: 50%;
	width: 25%;
	bottom: 89px;
	margin-left: 45px;
	font-style: italic;
}

div#search-form {
	left: 50%;
	top: 61px;
	margin-left: 45px;
	position: absolute;
}

div#search-form>form {
	margin-left: -2px;
	position: relative;
}

div#search-form>form>* {
	margin: 0px;
	border: 0px;
	outline: none;
}

div#search-form input {
	padding: 4px 16px 4px 25px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	width: 92px;
	border-radius: 12px;
	background: #ffffff;
	box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}


div#search-form input:focus {
	width: 192px;
}

div#search-form button {
	background: url('search.png');
	width: 24px;
	height: 24px;
	text-indent: -10000px;
	cursor: pointer;
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 1px;
	float: left;
}



header div#social-menu {
	bottom: 59px;
	right: 10px;
	height: 50px;
}

header div#social-menu ul li {
	width: 50px;
	height: 50px;
	display: block;
	float: left;
	margin-right: 10px;
	text-indent: -10000px;
}

header div#social-menu ul li a {
	width: 50px;
	height: 50px;
	display: block;
	background: url('social_icons.png') 0px 0px no-repeat;
}

header div#social-menu ul li a:hover {
	box-shadow: 0px 0px 0px 5px #ffffff;
}

header div#social-menu ul li#social-menu-vk a {
	background-position: 0px -50px;
}

header div#social-menu ul li#social-menu-vk:hover a {
	background-position: -50px -50px;
}


header div#social-menu ul li#social-menu-rutube a {
	width: 50px;
	background: url('social_icons_rutube.png') 0px 0px no-repeat;
}

header div#social-menu ul li#social-menu-ok a {
	width: 50px;
	background: url('social_icons_ok.png') 0px 0px no-repeat;
}



header div#social-menu ul li#social-menu-12 a {
	background-position: 0px -50px;
}

header div#social-menu ul li#social-menu-12 a {
	width: 50px;
	background: url('12+.png') 0px 0px no-repeat;
}


header div#social-menu ul li#social-menu-youtube {
	width: 100px;
}

header div#social-menu ul li#social-menu-youtube a {
	width: 100px;
	background: url('social_icons_youtube.png') 0px 0px no-repeat;
}

header div#social-menu ul li#social-menu-youtube:hover a {
	background-position: -100px 0px;
}

div#subpage-image,
div#subpage-image div#subpage-image-wrapper,
div#subpage-image div#subpage-image-wrapper div.subpage-image-slide,
div#subpage-image div#subpage-image-wrapper div.subpage-image-slide div.subpage-image-slide-blured,
div#subpage-image div#announcements {
	height: 480px;
}

div#subpage-image div#subpage-image-wrapper div.subpage-image-slide,
div#subpage-image div#subpage-image-wrapper div.subpage-image-slide div.subpage-image-slide-blured {
	background-position: 50% 50%;
	background-size: cover;
}

div#subpage-image div#subpage-image-wrapper div.subpage-image-slide div.subpage-image-slide-blured {
	display: none;
}

div#subpage-image div#subpage-image-wrapper div.subpage-image-slide {
	background-image: url('../slider/1.jpg');
}

div#subpage-image div#subpage-image-wrapper div.subpage-image-slide div.subpage-image-slide-blured {
	background-image: url('../slider/1_blured.jpg');
}


div#subpage-image.subpage-image-bottom div#subpage-image-wrapper div.subpage-image-slide {
	background: rgba(255,255,255,0.5);
	border-top: 2px dashed #12b362;
	border-bottom: 2px dashed #12b362;
}

div#subpage-image.subpage-image-bottom  div#announcements {
	background: transparent;
	border-right: 2px dashed #12b362;
}

div#subpage-image.subpage-image-bottom div#subpage-image-wrapper div.subpage-image-slide div.subpage-image-slide-blured {
	background: transparent;
}

div#subpage-image.subpage-image-bottom div.priority h4 a {
	color: #0d3380;
}

div#subpage-image.subpage-image-bottom div#announcements div.announcement {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

div#subpage-image.subpage-image-bottom div.priority div {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

div#subpage-image div#announcements {
	position: relative;
	overflow: hidden;
	top: -100%;
}

div#subpage-image {
	position: relative;
}

div#priorities {
	position: absolute;
	top: 30px;
	left: 494px;
	right: 34px;
	max-width: 770px;
}

div.priority {
	float: left;
	width: 19%;
	height: 220px;
	padding-right: 1%;
	text-align: center;
}

div.priority:first-child {
	margin-left: 0%;
}

div.priority div {
	box-shadow: 0px 2px 4px rgba(0,0,0,0.75);
	opacity: 0.75;
	background: #e11414;
	max-width: 120px;
	margin: 0px 0px 0px 0px;
}

div.priority div img {
	width: 100%;
}

div.priority h4 {
	max-width: 120px;
	font-size: 0.67em;
	text-align: center;
	margin: 10px 0px 0px 0px;
}

div.priority h4 a {
	color: #ffffff;
}


/*
div#subpage-image div#announcements div.announcement {
	width: 360px;
	height: 180px;
	background: rgba(255,255,255,0.75);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.75);
	position: absolute;
	top: 50%;
	margin-top: -90px;
}
*/

div#subpage-image div#announcements {
	width: 460px;
	background: rgba(0, 0, 0, 0.25);
}

div#subpage-image div#announcements div.announcement {
	width: 392px;
	margin: 0px 34px;
	height: 90px;
	background: #ffffff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
	position: absolute;
}

div#subpage-image div#announcements div.announcement.announcement-n1 {
	top: 30px;
}

div#subpage-image div#announcements div.announcement.announcement-n2 {
	top: 140px;
}

div#subpage-image div#announcements div.announcement.announcement-n3 {
	top: 250px;
}

div#subpage-image div#announcements div.announcement.announcement-n4 {
	top: 360px;
}

/*
div#subpage-image div#announcements div.announcement div {
	display: block;
	background-size: 120%;
	background-position: 50% 50%;
	width: 150px;
	height: 150px;
	margin: 15px 10px 15px 15px;
	float: left;
	-webkit-transition: all 0.25s linear 0s;
	-moz-transition: all 0.25s linear 0s;
	-o-transition: all 0.25s linear 0s;
	transition: all 0.25s linear 0s;
}
*/

div#subpage-image div#announcements div.announcement div {
	display: block;
	background-size: 100% auto;
    background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 90px;
	height: 90px;
	margin: 0px 7px 0px 0px;
	float: left;
}

div#subpage-image div#announcements div a.announcement-link {
	display: block;
	position: absolute;
	z-index: 2;
	top: 0px;
	width: 100%;
	height: 100%;
	
}

div#subpage-image div#announcements div.announcement h3 {
	margin: 7px;
	font-size: 0.9em;
	line-height: 125%;
}

nav.main-menu-index {
	padding: 51px 68px 17px 136px;
	position: relative;
}

nav.main-menu-index>.main-menu-index-block {
	float: left;
	width: 23.5%;
	margin-right: 2%;
	margin-bottom: 34px;
	font-style: italic;
}

nav.main-menu-index>div.main-menu-index-block h3 {
	font-size: 1.67em;
	margin-bottom: 17px;
}

nav.main-menu-index>div.main-menu-index-block h3 a {
	color: #4c4c4c;
	text-decoration: none;
}

nav.main-menu-index>div.main-menu-index-block ul {
	font-size: 0.91em;
}

nav.main-menu-index>div.main-menu-index-block ul li, nav.submenu-menu-index ul > li > ul > li > ul > li {
	margin-bottom: 8px;
	line-height: 110%;
	font-weight: 600;
	font-size: 1em;
}

nav.main-menu-index .main-menu-index-0, nav.submenu-menu-index .main-menu-index-0 {
	width: 39px;
	height: 39px;
	position: absolute;
	text-indent: -10000px;
	left: 50px;
}

nav.main-menu-index .main-menu-index-0 ul, nav.submenu-menu-index .main-menu-index-0 ul {
	display: none;
}

nav.main-menu-index .main-menu-index-0 a, nav.submenu-menu-index .main-menu-index-0 a {
	width: 39px;
	height: 39px;
	display: block;
	background: url('home-icon.png') 0px 0px no-repeat;
	display: none;
}

nav.main-menu-index>div.main-menu-index-2, nav.main-menu-index>div.main-menu-index-5 {
	width: 28.5%;
}

nav.main-menu-index>div.main-menu-index-3, nav.main-menu-index>div.main-menu-index-6 {
	width: 44%;
	margin-right: 0%;
}

nav.main-menu-index > div.main-menu-index-block > ul > li > ul,
nav.submenu-menu-index > ul > li.inner-menu-index-block > ul > li > ul {
	position: absolute;
	top: 100px;
	min-height: 360px;
	width: 540px;
	left: 50%;
	margin-left: -334px; /* 300 + 34 */
	background: #ffffff;
	padding: 20px 30px;
	box-shadow: 0px 0px 170px rgba(0, 0, 0, 0.75);
	z-index: 49;
	border-radius: 5px;
	display: none;
	font-size: 1.16em;
	font-style: italic;
}

nav.submenu-menu-index > ul > li.inner-menu-index-block > ul > li > ul {
	position: fixed;
	top: 200px;
	margin-left: -300px;
}

nav.submenu-menu-index {
	padding: 0px 68px 0px 136px;
	position: relative;
	background: #0d3380;
	color: #ffffff;
	height: 39px;
	line-height: 39px;
	z-index: 9;
}

nav.submenu-menu-index a {
	color: #ffffff;
}

nav.submenu-menu-index>ul>li {
	float: left;
	margin-right: 17px;
	position: relative;
	z-index: 3;
}

nav.submenu-menu-index>ul>li>a {
	padding: 0px 8px;
	display: block;
	margin-left: -8px;
}

nav.submenu-menu-index>ul>li>ul {
	position: absolute;
	z-index: 4;
	background: #0a2966;
	margin: 0px -8px;
	display: none;
	width: 220px;
	font-size: 0.825em;
	line-height: 1em;
	box-shadow: 0px 24px 32px rgba(0,0,0,0.75);
}

nav.submenu-menu-index>ul>li.inner-menu-index-block:hover>a,nav.submenu-menu-index>ul>li.inner-menu-index-block.hover>a {
	background: #0a2966;
}

nav.submenu-menu-index>ul>li:hover>ul, nav.submenu-menu-index>ul>li.hover>ul {
	display: block !important;
}


nav.submenu-menu-index>ul>li>ul>li>a {
	padding: 8px 8px;
	display: block;
}

nav.submenu-menu-index>ul>li>ul>li>a:hover {
	background: #ffffff;
	color: #0D3380;
}

nav.submenu-menu-index > ul > li.inner-menu-index-block > ul > li > ul  a {
	color: #0D3380;
}

.subsubmenuTitle {
	padding-bottom: 15px !important;
	color: #4c4c4c;
	border-bottom: 1px dotted #808080;
	margin-bottom: 15px !important;
	font-size: 120% !important;
	text-align: center;
}

.subsubmenuTitle a {
	font-size: 0.825em;
}

section#text {
	background: #ffffff;
	font-family: Tahoma, Geneva, sans-serif;
	padding: 34px 68px 34px 136px;
}

section#text>div {
	margin-bottom: 51px;
}

section#text>div:last-child {
	margin-bottom: 17px;
}

section#text h1, section#text h1#page-title {
	font-style: italic;
	color: #12b362;
	line-height: 100%;
	font-size: 2.083em;
	margin-bottom: 25px;
}

section#text div.column {
	width: 48%;
	float: left;
	margin: 0px 2% 0px 0px;
}

section#text div.column-2 {
	margin: 0px 0px 0px 2%;
}

div#page-text {
	text-align: justify;
}

div#page-text li {
	text-align: left;
}

div#page-text article > p {
	text-indent: 1.8em;
}

div.news-digest, div.news-navigation {
	padding-left: 5.5em;
	margin-bottom: 17px;
}

div.news-navigation {
	font-style: italic;
	margin-top: 34px;
	margin-bottom: 51px;
	padding-left: 0px;
	line-height: 3px;
	border-bottom: 1px solid #cccccc;
	text-align: center;
}

div.news-navigation > span {
	padding: 0px 10px;
	background: #ffffff;
}

section#text div.news-digest h3 {
	font-size: 1em;
	margin-top: 0px;
	margin-bottom: 17px;
	position: relative;
}

div.news-digest h3 span {
	font-size: 0.91em;
	display: inline-block;
	width: 5.5em;
	text-align: left;
	position: absolute;
	line-height: 1.7em;
	left: -5.5em;
}

div.news-digest h3 {
}

section#priorities {
	padding: 34px 0px 34px 136px;
	position: relative;
	min-height: 240px;
}

section#priorities div.holder {
	margin-right: 330px;
}

section#priorities div#catalog-link {
	position: absolute;
	width: 290px;
	padding-right: 40px;
	top: 34px;
	right: 0px;
	font-size: 1.5em;
	line-height: 120%;
	z-index: 3;
}


footer {
	background: #333333 url('bg-footer.png');
	color: #ffffff;
	font-size: 0.825em;
	padding: 34px 0px 34px 136px;
	position: relative;
}

footer a {
	color: #ffffff;
}

footer div#copyrights {
	margin-bottom: 15px;
}

footer div#copyrights ul {
	width: 100%;
}

footer div#copyrights ul li {
	margin-bottom: 0px;
}

footer div#building {
	background: url('footer-image.png') 100% 50% no-repeat;
	width: 360px;
	height: 240px;
	position: absolute;
	top: -200px;
	right: 0px;
}

div#partners {
	padding-top: 34px;
	padding-bottom: 17px;
	line-height: 0px;
	margin: 0px 340px 0px 136px;
}

div#partners a {
	display: inline-block;
	width: 88px;
	height: 31px;
	padding: 8px;
	background: rgba(255,255,255,0.5);
	margin-right: 8px;
	margin-bottom: 17px;
}

div#partners a:hover {
	background: rgba(0,0,0,0.5);
}

div#partners a img {
	display: block;
	width: 88px;
	height: 31px;
}

.page-info {
	margin-top: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: 1px dashed rgba(0,0,0,0.2);
	font-size: 0.91em;
	text-align: left;
}

.page-info a {
	text-decoration: none;
}

.page-info a:hover {
	text-decoration: underline;
}

.page-info h5, .page-info p {
	margin: 0px !important;
}

.search-link {
	font-size: 0.825em;
	text-decoration: none;
	color: #cccccc;
}

.images-list-item {
	display: inline-block;
	width: auto;
	height: auto;
	margin: 0px;
	background-color: #e5e5e5;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.images-list-item img {
	width: 100%;
}

/* Customization */

body.page_partners div#page-text article img {
	vertical-align: middle;
}

body.page_index section#text > div {
	width: 48%;
	float: left;
	text-align: left;
}

body.page_index #page-text {
	text-align: left;
}

body.page_index  section#text > div#page-text2-wrapper {
	margin-left: 52%;
	float: none;
}


body.page_index section#text > div.clear {
	float: none;
}

#page-text2 nav,
.satellite,
.satellite-link,
.formwrapper {
	padding: 17px;
	margin: 0px -17px 34px -17px;
	background: #ededed url('bg.png') fixed;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}

.satellite,
.satellite-link {
	margin: 17px -17px;
}

section#text .satellite ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

section#text #page-text2 ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

#menu {
	margin-top: -39px;
}

/* Authorization */

#login-block {
	position: absolute;
	z-index: 10;
	right: 20px;
	top: 3px;
	width: 22%;
	text-align: right;
	line-height: 100%;
	font-size: 0.825em;
}

#login-block .login-form-link {
	font-size: 0.825em;
}

#login-block .login-form-wrapper {
	color: #4c4c4c;
	background: #f11717;
	font-size: 0.825em;
	padding: 20px;
	position: absolute;
	z-index: 5;
	right: 0px;
	top: 18px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}

#login-block .login-form-wrapper a {
	color: #0d3380;
}

#login-block .login-form-wrapper form {
	margin-bottom: 5px;
}

/* Form style */

section#text form > *:first-child {
	margin-top: 0em;
}

section#text form select,
section#text form input {
	width: 480px;
	font-size: 1.334em;
	padding: 5px 10px;
}

section#text form select {
	width: 504px;
}

section#text form textarea {
	padding: 5px 10px;
}

section#text form .smaller {
	font-style: italic;
	color: #808080;
}

section#text form button,
section#text form input[type="button"],
section#text form input[type="submit"] {
	width: auto;
	font-size: 1.334em;
	padding: 5px 10px;
	font-family: sans-serif;
}

.reference-question {
	padding: 10px;
	border-top: 5px solid #b31212;
	background: #e5b8b8;
	color: #453838;
	margin-top: 35px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}

.reference-question.status-4 {
	border-top: 5px solid #12b362;
	background: #b8e5c8;
	color: #37443c;
}

.reference-response-wrapper .reference-question-text {
	margin-bottom: 0px;
}

.reference-question-info {
	margin: 0px !important;
}

.reference-question-info li {
	font-size: 0.825em;
	margin: 0px !important;
	text-indent: 0px !important;
}

.reference-question-info li:before {
	display: none !important;
}

.reference-question-info li.name {
	font-weight: bold;
	font-size: 1.16em;
	margin-bottom: 5px !important;
}

.reference-question-text {
	background: #f2f0da;
	color: #454438;
	padding: 10px;
	box-shadow: -1px -1px 0px rgba(0,0,0,0.10);
	margin: 10px 0px;
}

.reference-response-message {
	text-align: center;
}

.reference-questions-wrapper {

}

section#text ul.reference-menu {
	margin: 0px;
	top: 0px;
	right: 0px;
	position: absolute;
	font-size: 0.91em;
	font-weight: bold;
}

section#text ul.reference-menu li {
	text-indent: 0px;
	margin: 0px;
	float: left;
	margin-left: 10px;
}

section#text ul.reference-menu li:before {
	display: none;
}

section#text ul.reference-menu li.selected a {
	text-decoration: none;
	color: #12b362;
}

section#text ul.reference-menu li.selected:after {
	content: '';
	display: block;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #12b362;
	margin: 3px auto 0px auto;
}

.publicsite-menu-item {
	display: inline-block;
	font-size: 0.825em;
	margin-left: 7px;
}

dl.profile {
	width: 600px;
}

nav.menu-root-21 {
	margin-bottom: 15px;
}

nav.menu-root-21 ul {
	margin: 0px !important;
	border-radius: 30px;
	display: inline-block;
	margin: 0px auto;
	color: #4a4a4a;
	background: #ff0808;
	background-image: -ms-linear-gradient(top, #ebebeb 0%, #dddddd 100%);
	background-image: -moz-linear-gradient(top, #ebebeb 0%, #dddddd 100%);
	background-image: -o-linear-gradient(top, #ebebeb 0%, #dddddd 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dddddd), color-stop(1, #dddddd));
	background-image: -webkit-linear-gradient(top, #ebebeb 0%, #dddddd 100%);
	background-image: linear-gradient(to bottom, #ebebeb 0%, #dddddd 100%);
	font-weight: bold;
	text-shadow: 1px 1px 0px #ffffff;
	overflow: hidden;
	box-shadow: -1px -1px 0px rgba(0,0,0,0.2);
	font-size: 0.825em;
}

nav.menu-root-21 ul li {
	margin: 0px !important;
	text-indent: 0px !important;
	float: left;
	width: auto;
	display: inline-block;
	text-align: center;
	padding: 5px 15px;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
}

nav.menu-root-21 ul li.selected {
	color: #ffffff;
	background: #ebebeb;
	background-image: -ms-linear-gradient(top, #303030 0%, #4a4a4a 100%);
	background-image: -moz-linear-gradient(top, #303030 0%, #4a4a4a 100%);
	background-image: -o-linear-gradient(top, #303030 0%, #4a4a4a 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #303030), color-stop(1, #4a4a4a));
	background-image: -webkit-linear-gradient(top, #303030 0%, #4a4a4a 100%);
	background-image: linear-gradient(to bottom, #303030 0%, #4a4a4a 100%);
	font-weight: bold;
	text-shadow: -1px -1px 0px #000000;
}

nav.menu-root-21 ul li.selected a {
	color: inherit;
}

nav.menu-root-21 ul li:first-child {
	padding-left: 20px;
}

nav.menu-root-21 ul li:last-child {
	padding-right: 20px;
}


nav.menu-root-21 ul li:before {
	display: none !important;
}

a.op-image {
	text-decoration: none;
}

.center {
	text-align: center;
}

img.right, 
figure.right {
	float: right;
	clear: left;
	margin: 0px 0px 5px 10px;
}

img.left, 
figure.left {
	float: left;
	clear: right;
	margin: 0px 10px 5px 0px;
}


p.no-indent {
	text-indent: 0px !important;
}

p.right {
	text-align: right;
}

figure > * {
	display: block;
}

figure > figcaption {
	text-indent: 0px;
	text-align: center;
	font-size: 0.8em;
	font-style: italic;
}

.alphabet-index {
	font-weight: bold;
	font-size: 1.33em;
}

.alphabet-index a {
	display: inline-block;
	margin: 0px 10px;
}

.news-navigation-period input {
	width: 150px !important;
	text-align: center;
}

.news-navigation-period button {
	margin: 0px !important;
	position: relative;
	top: -1px;
	left: 2px;
}

#link-to-index {
	top: 0px;
	right: 68px;
	font-size: 0.667em;
	background: rgba(255,255,255,0.9);
	padding: 4px 10px;
	border-radius: 0px 0px 5px 5px;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.75);
}

#link-to-index a {
	color: #024202;
	text-decoration: none;
}


div.ui-datepicker {
	background: #e80000;
	margin-top: 1px;
	padding: 7px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
	font-size: 0.75em;
	line-height: 110%;
	border-radius: 2px;
	padding-top: 10px;
	z-index: 201 !important;
	display: none;
}

div.ui-datepicker a {
	color: #30343d;
	text-decoration: none;
}

div.ui-datepicker tr th, div.ui-datepicker tr td {
	text-align: center;
	padding: 8px;
}

div.ui-datepicker tr th {
	background: #12b362;
	color: #ffffff;
}

div.ui-datepicker tr td {
	cursor: pointer;
	width: 20px;
}

div.ui-datepicker tr td.ui-datepicker-today {
	background: #cccccc;
	border-radius: 2px;
}

div.ui-datepicker tr td.ui-datepicker-current-day {
	background: #12b362;
	border-radius: 2px;
}

div.ui-datepicker tr td.ui-datepicker-unselectable, div.ui-datepicker  a.ui-state-disabled {
	color: #cccccc;
	cursor: default;
}

div.ui-datepicker tr td.ui-datepicker-current-day a {
	color: #ffffff;
}

div.ui-datepicker div.ui-datepicker-title {
	text-align: center;
	padding-bottom: 10px;
	font-weight: bold;
}

div.ui-datepicker a.ui-datepicker-prev, div.ui-datepicker a.ui-datepicker-next {
	float: left;
	font-size: 0.667em;
}

div.ui-datepicker a.ui-datepicker-next {
	float: right;
}

div.ui-datepicker-header .ui-corner-all {
	cursor: pointer;
	padding: 0px 2px;
	border-radius: 2px;
}

div.ui-datepicker-header a.ui-corner-all:hover {
}

div.ui-datepicker-buttonpane {
	text-align: center;
}

div.ui-datepicker-buttonpane button {
	background: transparent;
	border: none;
	display: inline;
	padding: 0px;
	margin: 4px;
	cursor: pointer;
}

.inner-page-column {
	float: right;
	padding: 17px;
	margin: 0px 0px 34px 34px;
	background: #ededed url('bg.png') fixed;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
	width: 300px;
	clear: both;
	text-align: left;
}

.column-wrapper {
	float: right;
	width: 334px;
	clear: both;
}

.column-wrapper .inner-page-column {
	float: none;
	clear: none;
}

.with-column img.left,
.with-column img.right {
	clear: none !important;
}

div#page-text .inner-page-column article  > p {
	text-indent: 0px;
}

table.schedule {
	font-size: 1.4em;
}

table.schedule td {
	padding: 5px 10px;
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid;
	border-right: 1px solid;
}

table.schedule tr td:first-child {
	text-align: left;
}

table.schedule .closed {
	background: #ffb2b2;
}

@media all and (max-width: 1240px) {

	div#priorities {
		right: auto;
		max-width: 616px;
	}

	div.priority {
		width: 32%;
		height: 120px;
		margin-bottom: 30px;
	}
	
	div.priority h4 {
		display: none;
	}

}

#optic-btn {
	display: block;
	overflow: hidden;
	text-indent: -10000px;
	width: 32px;
	height: 35px;
	background: url('optic.png') 50% 50% no-repeat;
    position: absolute;
    top: 107px;
    z-index: 200;
    right: 20px;
}

body.optics-font-large #optic-btn,
body.optics-font-huge #optic-btn,
body.optics-colors-white #optic-btn,
body.optics-colors-contrast #optic-btn {
	background-color: rgba(0,0,0,0.25);
	box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
}

body.optics-colors-black #optic-btn {
	background-color: rgba(127,127,127,0.5);
	box-shadow: 0 0 0 2px rgba(127,127,127,0.5);
}

#optic-menu {
	position: fixed;
	top: 25%;
	left: 50%;
	margin-left: -138px;
	padding: 20px;
	width: 295px;
	z-index: 9999;
	height: 40px;
	color: #808080;
	font-size: 26px;
	background: rgba(255,255,255,0.8);
	box-shadow: 0px 10px 25px rgba(0,0,0,0.9);
	border: 10px solid red;
}

#optic-menu > div {
	float: left;
	width: 40px;
	height: 40px;
	cursor: pointer;
	padding: 7px 0;
	box-sizing: border-box;
	text-align: center;
	line-height: 26px;
	font-weight: bold;
	font-family: 'Arial', sans-serif;
}


#optic-menu > div:nth-child(3) {
	margin-right: 15px;
}

#optic-menu > div.optic-menu-font-regular {
	font-size: 16px;
}

#optic-menu > div.optic-menu-font-large {
	font-size: 24px;
}

#optic-menu > div.optic-menu-font-huge {
	font-size: 30px;
}

body.optics-font-large {
	font-size: 120%;
	min-width: 1200px;
}

body.optics-font-huge {
	font-size: 150%;
	min-width: 1400px;
}

#optic-menu > div.optic-menu-colors-white,
body.optics-colors-white #site,
body.optics-colors-white #text,
body.optics-colors-white #text h1,
body.optics-colors-white #project-menu,
body.optics-colors-white #project-menu *,
body.optics-colors-white #subpage-image,
body.optics-colors-white nav.submenu-menu-index,
body.optics-colors-white nav.submenu-menu-index > ul > li > a,
body.optics-colors-white nav.submenu-menu-index > ul > li > a:hover,
body.optics-colors-white div#subpage-image div#subpage-image-wrapper div.subpage-image-slide
{
	background: #ffffff;
	color: #000000 !important;
	text-shadow: none;
}

body.optics-colors-white #text a {
	color: #000000;
}

#optic-menu > div.optic-menu-colors-black,
body.optics-colors-black #site,
body.optics-colors-black #text,
body.optics-colors-black #text h1,
body.optics-colors-black #project-menu,
body.optics-colors-black #project-menu *,
body.optics-colors-black #subpage-image,
body.optics-colors-black nav.submenu-menu-index,
body.optics-colors-black nav.submenu-menu-index > ul > li > a,
body.optics-colors-black nav.submenu-menu-index > ul > li > a:hover,
body.optics-colors-black div#subpage-image div#subpage-image-wrapper div.subpage-image-slide
{
	background: #000000;
	color: #ffffff !important;
	text-shadow: none;
}

body.optics-colors-black #text a {
	color: #ffffff;
}

#optic-menu > div.optic-menu-colors-contrast,
body.optics-colors-contrast #site,
body.optics-colors-contrast #text,
body.optics-colors-contrast #text h1,
body.optics-colors-contrast #project-menu,
body.optics-colors-contrast #project-menu *,
body.optics-colors-contrast #subpage-image,
body.optics-colors-contrast nav.submenu-menu-index,
body.optics-colors-contrast nav.submenu-menu-index > ul > li > a,
body.optics-colors-contrast nav.submenu-menu-index > ul > li > a:hover,
body.optics-colors-contrast div#subpage-image div#subpage-image-wrapper div.subpage-image-slide
{
	background: #9dd1ff;
	color: #063462 !important;
	text-shadow: none;
}


body.optics-colors-contrast #text a {
	color: #063462;
}

#text a:link {
text-decoration: none;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #12B362), color-stop(50%, #12B362)), -webkit-gradient(linear, left top, left bottom, color-stop(50%, silver), color-stop(50%, silver));
background-image: -webkit-linear-gradient(#12B362 50%, #12B362 50%), -webkit-linear-gradient(silver 50%, silver 50%);
background-image: -o-linear-gradient(#12B362 50%, #12B362 50%), -o-linear-gradient(silver 50%, silver 50%);
background-image: linear-gradient(#12B362 50%, #12B362 50%), linear-gradient(silver 50%, silver 50%);
background-position: center bottom;
background-repeat: no-repeat;
background-size: 0 2px, 100% 2px;
color: #000000;
padding-bottom: 3px;
-webkit-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}
#text a:visited {
color: #08B09C;
}
#text a:hover {
background-size: 100% 2px, 100% 2px;
color: #12B362;
}
#text a:active {
color: #0f7cc4;
}
#text h3 {
line-height: 1.45em;
}
#page-text .news-view-item-text {
line-height: 1.6em;
}
section#text h1, section#text h1#page-title {
font-style: italic;
color: #12b362;
line-height: 100%;
font-size: 1.5em;
margin-bottom: 25px;
}

/*Ð¿Ð¾Ð´ÑÐ²ÐµÑ‡Ð¸Ð²Ð°Ð½Ð¸Ðµ Ð½Ð¾Ð²Ð¾ÑÑ‚ÐµÐ¹*/

#news-item-27540 a {
color: red !important;
font-weight: 600;
}

#news-item-27743 a {
color: red !important;
font-weight: 600;
}

#news-item-27783 a {
color: #f00000 !important;
font-weight: 600;
}

/*
#page-text .news-digest h3:nth-of-type(15) a {
color: red;
font-weight: 600;
}*/

/*
#page-text .news-digest h3:nth-of-type(15) {
color: red;
font-weight: 400;
}*/
	
	
	
	
/* видео фон */ 

 background: url('menu.mp4');
  background-size: cover;
}

/* конец фона */

/* меню */












/* ГРАДИЕНТ  */

section#text {
    max-width: 100%;
 min-width: 70%;
    opacity: 1;
    background: linear-gradient(to right, #FFDDD6 21%, #FFF9ED 21%, #FFF9ED 80%, #DBDBDB 80% );
    font-family: Tahoma, Geneva, sans-serif;
    padding: 34px 116px 994px 116px;
   


    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;

}


/* конец градиента */


/* иконка Пушкин */

header div#pushkin {
    opacity: 1;
	text-indent: -10000px;
	width: 134px;
	height: 136px;
	background: url('https://1.downloader.disk.yandex.ru/preview/b63640f4a62bba6f8869a85c061807c9138003edf43271048edd32270800c66b/inf/mtLG3-4v8KsjMTLuY917ajB7208bP_LmOpdDhDAHu1IJPfyVWIxqZnR2TeodhddrQ1t1rVG9gn8SMAn_4xqyyw%3D%3D?uid=437956321&filename=pushkin.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=437956321&tknv=v2&size=1600x822');
	background-image: url(https://1.downloader.disk.yandex.ru/preview/b63640f4a62bba6f8869a85c061807c9138003edf43271048edd32270800c66b/inf/mtLG3-4v8KsjMTLuY917ajB7208bP_LmOpdDhDAHu1IJPfyVWIxqZnR2TeodhddrQ1t1rVG9gn8SMAn_4xqyyw%3D%3D?uid=437956321&filename=pushkin.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=437956321&tknv=v2&size=1600x822);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
	position: absolute;
	left: 19px;
	bottom: 0px;
	z-index: 10;

}

/* конец иконки */





/* Пушкинская карта текст с анимацией */


section#text h1, section#text h1#page-title {
  max-width: 100%;
 min-width: 1%;
 margin-top: 50%;


    opacity: 1;
   
    font-style: oblique;
    font-weight: 700;
    color: #000000;
    line-height: 100%;
    margin-bottom: 2%;
    margin-left: 40%;
    color: rgba(255,0,0,0.1);
    text-transform: uppercase;
    background-size: initial;
    background-position-x: initial;
    background-position-y: initial;

  background-image: url(https://pocvetam.ru/wp-content/uploads/2020/08/kartinka-3-–-sushchestvuet-neskolko-sortov-chernyh-roz-kazhdyj-iz-kotoryh-otlichaetsja-unikalnym-vneshnim-vidom.jpg);
  -webkit-background-clip: text;
  animation: background-text-animation 15s linear infinite;
}
@keyframes background-text-animation {
  0%{
    background-position: left 0px top 50%;
  }
  50%{
    background-position: left 1500px top 50%;
  }
  100%{
    background-position: left 0px top 50%;
  }
}


/* Конец текста и анимации */





























/* Курсор мышки */



body {
    cursor: url('mouse.cur'), auto;
}
.link:hover {
    cursor: url('/путь к файлу/sword.cur'), auto;
}
.link:hover {
    cursor: w-resize;
}



/* Конец курсора мышки */ 





.foto {
  opacity: 1;
  position: absolute;
  margin-left: 21%;
  width: 59%;
  height: 83%;
}
