html, body {


	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;

	
	
	
header {
	width: 100%;
	background: #12b362;
	color: #ffffff;
	height: 144px;
	position: relative;
}

header>div.holder>div {
	position: absolute;
}

header a {
	color: #ffffff;
}

header div#tyutchev {
	text-indent: -10000px;
	width: 134px;
	height: 136px;
	background: url('tyutchev.png');
	position: absolute;
	left: 19px;
	bottom: 0px;
	z-index: 10;
}

header div#logo {
	text-indent: -10000px;
	width: 322px;
	height: 69px;
	background: url('logo.png');
	position: absolute;
	left: 137px;
	bottom: 45px;
}

header div#logo a {
	display: block;
	width: 100%;
	height: 100%;
}

header div#find-link {
	left: 50%;
	width: 25%;
	bottom: 89px;
	margin-left: 45px;
	font-style: italic;
}

div#search-form {
	left: 50%;
	top: 61px;
	margin-left: 45px;
	position: absolute;
}

div#search-form>form {
	margin-left: -2px;
	position: relative;
}

div#search-form>form>* {
	margin: 0px;
	border: 0px;
	outline: none;
}

div#search-form input {
	padding: 4px 16px 4px 25px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	width: 92px;
	border-radius: 12px;
	background: #ffffff;
	box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}


div#search-form input:focus {
	width: 192px;
}

div#search-form button {
	background: url('search.png');
	width: 24px;
	height: 24px;
	text-indent: -10000px;
	cursor: pointer;
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 1px;
	float: left;
}



header div#social-menu {
	bottom: 59px;
	right: 10px;
	height: 50px;
}

header div#social-menu ul li {
	width: 50px;
	height: 50px;
	display: block;
	float: left;
	margin-right: 10px;
	text-indent: -10000px;
}

header div#social-menu ul li a {
	width: 50px;
	height: 50px;
	display: block;
	background: url('social_icons.png') 0px 0px no-repeat;
}

header div#social-menu ul li a:hover {
	box-shadow: 0px 0px 0px 5px #ffffff;
}

header div#social-menu ul li#social-menu-vk a {
	background-position: 0px -50px;
}

header div#social-menu ul li#social-menu-vk:hover a {
	background-position: -50px -50px;
}


header div#social-menu ul li#social-menu-rutube a {
	width: 50px;
	background: url('social_icons_rutube.png') 0px 0px no-repeat;
}

header div#social-menu ul li#social-menu-ok a {
	width: 50px;
	background: url('social_icons_ok.png') 0px 0px no-repeat;
}



header div#social-menu ul li#social-menu-12 a {
	background-position: 0px -50px;
}

header div#social-menu ul li#social-menu-12 a {
	width: 50px;
	background: url('12+.png') 0px 0px no-repeat;
}


header div#social-menu ul li#social-menu-youtube {
	width: 100px;
}

header div#social-menu ul li#social-menu-youtube a {
	width: 100px;
	background: url('social_icons_youtube.png') 0px 0px no-repeat;
}

header div#social-menu ul li#social-menu-youtube:hover a {
	background-position: -100px 0px;
}

div#subpage-image,
div#subpage-image div#subpage-image-wrapper,
div#subpage-image div#subpage-image-wrapper div.subpage-image-slide,
div#subpage-image div#subpage-image-wrapper div.subpage-image-slide div.subpage-image-slide-blured,
div#subpage-image div#announcements {
	height: 480px;
}

div#subpage-image div#subpage-image-wrapper div.subpage-image-slide,
div#subpage-image div#subpage-image-wrapper div.subpage-image-slide div.subpage-image-slide-blured {
	background-position: 50% 50%;
	background-size: cover;
}

div#subpage-image div#subpage-image-wrapper div.subpage-image-slide div.subpage-image-slide-blured {
	display: none;
}

div#subpage-image div#subpage-image-wrapper div.subpage-image-slide {
	background-image: url('../slider/1.jpg');
}

div#subpage-image div#subpage-image-wrapper div.subpage-image-slide div.subpage-image-slide-blured {
	background-image: url('../slider/1_blured.jpg');
}


div#subpage-image.subpage-image-bottom div#subpage-image-wrapper div.subpage-image-slide {
	background: rgba(255,255,255,0.5);
	border-top: 2px dashed #12b362;
	border-bottom: 2px dashed #12b362;
}

div#subpage-image.subpage-image-bottom  div#announcements {
	background: transparent;
	border-right: 2px dashed #12b362;
}

div#subpage-image.subpage-image-bottom div#subpage-image-wrapper div.subpage-image-slide div.subpage-image-slide-blured {
	background: transparent;
}

div#subpage-image.subpage-image-bottom div.priority h4 a {
	color: #0d3380;
}

div#subpage-image.subpage-image-bottom div#announcements div.announcement {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

div#subpage-image.subpage-image-bottom div.priority div {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

div#subpage-image div#announcements {
	position: relative;
	overflow: hidden;
	top: -100%;
}

div#subpage-image {
	position: relative;
}

div#priorities {
	position: absolute;
	top: 30px;
	left: 494px;
	right: 34px;
	max-width: 770px;
}

div.priority {
	float: left;
	width: 19%;
	height: 220px;
	padding-right: 1%;
	text-align: center;
}

div.priority:first-child {
	margin-left: 0%;
}

div.priority div {
	box-shadow: 0px 2px 4px rgba(0,0,0,0.75);
	opacity: 0.75;
	background: #ffffff;
	max-width: 120px;
	margin: 0px 0px 0px 0px;
}

div.priority div img {
	width: 100%;
}

div.priority h4 {
	max-width: 120px;
	font-size: 0.67em;
	text-align: center;
	margin: 10px 0px 0px 0px;
}

div.priority h4 a {
	color: #ffffff;
}
/* видео фон */ 

 background: url('menu.mp4');
  background-size: cover;
}

/* конец фона */

/* меню */












/* ГРАДИЕНТ  */

section#text {
    max-width: 100%;
 min-width: 70%;
    opacity: 1;
    background: linear-gradient(to right, #FFDDD6 21%, #FFF9ED 21%, #FFF9ED 80%, #DBDBDB 80% );
    font-family: Tahoma, Geneva, sans-serif;
    padding: 34px 116px 994px 116px;
   


    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;

}


/* конец градиента */


/* иконка Пушкин */

header div#pushkin {
    opacity: 1;
	text-indent: -10000px;
	width: 134px;
	height: 136px;
	background: url('https://1.downloader.disk.yandex.ru/preview/b63640f4a62bba6f8869a85c061807c9138003edf43271048edd32270800c66b/inf/mtLG3-4v8KsjMTLuY917ajB7208bP_LmOpdDhDAHu1IJPfyVWIxqZnR2TeodhddrQ1t1rVG9gn8SMAn_4xqyyw%3D%3D?uid=437956321&filename=pushkin.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=437956321&tknv=v2&size=1600x822');
	background-image: url(https://1.downloader.disk.yandex.ru/preview/b63640f4a62bba6f8869a85c061807c9138003edf43271048edd32270800c66b/inf/mtLG3-4v8KsjMTLuY917ajB7208bP_LmOpdDhDAHu1IJPfyVWIxqZnR2TeodhddrQ1t1rVG9gn8SMAn_4xqyyw%3D%3D?uid=437956321&filename=pushkin.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=437956321&tknv=v2&size=1600x822);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
	position: absolute;
	left: 19px;
	bottom: 0px;
	z-index: 10;

}

/* конец иконки */





/* Пушкинская карта текст с анимацией */


section#text h1, section#text h1#page-title {
  max-width: 100%;
 min-width: 1%;
 margin-top: 50%;


    opacity: 1;
   
    font-style: oblique;
    font-weight: 700;
    color: #000000;
    line-height: 100%;
    margin-bottom: 2%;
    margin-left: 40%;
    color: rgba(255,0,0,0.1);
    text-transform: uppercase;
    background-size: initial;
    background-position-x: initial;
    background-position-y: initial;

  background-image: url(https://pocvetam.ru/wp-content/uploads/2020/08/kartinka-3-–-sushchestvuet-neskolko-sortov-chernyh-roz-kazhdyj-iz-kotoryh-otlichaetsja-unikalnym-vneshnim-vidom.jpg);
  -webkit-background-clip: text;
  animation: background-text-animation 15s linear infinite;
}
@keyframes background-text-animation {
  0%{
    background-position: left 0px top 50%;
  }
  50%{
    background-position: left 1500px top 50%;
  }
  100%{
    background-position: left 0px top 50%;
  }
}


/* Конец текста и анимации */





























/* Курсор мышки */



body {
    cursor: url('mouse.cur'), auto;
}
.link:hover {
    cursor: url('/путь к файлу/sword.cur'), auto;
}
.link:hover {
    cursor: w-resize;
}



/* Конец курсора мышки */ 





.foto {
  opacity: 1;
  position: absolute;
  margin-left: 21%;
  width: 59%;
  height: 83%;
}
